<!--
  Generated template for the GlobalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome to BLOGAPP - {{globalVal.userName}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
	  <ion-item>
	    <ion-label floating>Blog Title</ion-label>
	    <ion-input #title type="text"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Blog Content</ion-label>
	    <ion-input #body type="text"></ion-input>
	  </ion-item>
	</ion-list>
	<button ion-button (click)=blog() color="light" round full>POST</button><br>

	<div *ngFor='let blog of blogJson'>
    <ion-card>
      <ion-card-header>
        <ion-item item-right>
          <strong item-left>{{blog.title}}</strong>
          <button ion-button item-right clear small (click)=blogUserInfo(blog.user_id,blog.created_by) color="danger">
            <ion-icon name="logo-reddit"></ion-icon>
            <div>{{blog['created_by']}} - {{blog['user_id']}}</div>
          </button>
        </ion-item>
        <ion-item><p>{{blog['created_at']}}</p></ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-item><p>{{blog['body']}}</p></ion-item>
      </ion-card-content>
    </ion-card>
	</div>

<!--
@foreach($posts as $post)
    <div class="well">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <img style="width:100%" src="/storage/cover_images/{{$post->cover_image}}">
            </div>
            <div class="col-md-8 col-sm-8">
                <h3><a href="/posts/{{$post->id}}">{{$post->title}}</a></h3>
                <small>Written on {{$post->created_at}} by {{$post->user->name}}</small>
            </div>
        </div>
    </div>
@endforeach


<ion-row class="home" *ngFor="let blog of blogJson">
 		<div   *ngFor="let homeobj of home.teachers ">
   			<img src="{{ homeobj?.img }}" alt="">
  		</div>
	</ion-row>

  <ion-card>
  <ion-card-header>
    Header
  </ion-card-header>
  <ion-card-content>
    The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
  </ion-card-content>
</ion-card>




-->